<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-start mb-0">
             <li><a class="nav-link"  href="/sports">sports details</a></li>
              <li><a class="nav-link"  href="/books">book details</a></li>
              <li><a class="nav-link" href="/events">Event details</a></li>
            <ul>           
        <div class="clearfix"></div>
    </div>
</div>